.navBarContainer {
    position: fixed;
    z-index: 5;
    background: transparent;
}

.aboutContainer {
    background: rgb(207,208,251);
    background: linear-gradient(0deg, rgba(207,208,251,1) 0%, rgba(231,186,126,1) 100%);
}

.aboutWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60.5rem;
    background: rgb(0, 0, 0, .1);
}

.aboutLeftSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
}

.aboutRightSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutImgDesc {
    color: white;
    font-size: 2rem;
    padding-top: 1rem;
}

.aboutImgContainer {
    width: 30rem;
    height: auto;
    border-radius: 30px;
}

.aboutText {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media screen and (max-width: 1000px) {
    .aboutWrapper {
        flex-direction: column;
    }
}