.navBarContainer {
    position: fixed;
    z-index: 5;
    background: transparent;
}

.aboutContainer {
    background: rgb(207,208,251);
    background: linear-gradient(0deg, rgba(207,208,251,1) 0%, rgba(231,186,126,1) 100%);
}

.aboutWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.aboutPadding {
    width: 20%;
}

.aboutCard {
    width: 60vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutLeftSection {
    width: 100vw;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    transform: translateX(1rem);
    border: .2rem solid white;
}

.aboutRightSection {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutImgContainer {
    width: 25vw;
    border-radius: 15px;
    border: .2rem solid white;
    transform: translateX(-1rem);
}

.aboutText {
    padding: 2rem;
    padding-right: 5rem;
    font-size: 1.1vw;
    white-space: pre-line;
}

.aboutText > span {
    white-space: normal;
    overflow: hidden;
}

.socialMediaContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialMediaContainer > a {
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    color: white;
    transition: transform .5s ease;
}

.socialMediaContainer > a:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 1200px) {
    .aboutPadding {
        width: 10%;
    }

    .aboutWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80rem;
    }

    .aboutCard {
        flex-direction: column-reverse;
    }

    .aboutCard {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .aboutLeftSection {
        width: 17rem;
        height: 55rem;
        padding-bottom: 1rem;
        transform: translateY(-2rem);
    }
    
    .aboutRightSection {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aboutImgContainer {
        width: 20rem;
        transform: translateX(0rem) translateY(1rem);
    }

    .aboutText {
        padding: 2rem;
        padding-top: 5rem; 
        font-size: 1.1rem;
        white-space: pre-line;
    }

    .socialIcons {
        font-size: 1.5rem !important;
    }
}