.artworkPageContainer {
    background: black;
}

.artworkPageBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.artworkPageWrapper {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 99%;
}

.artworkDirectButton {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.25rem;
    font-weight: bold;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .35rem;
    border: solid .25rem white;
    border-radius: 5px;
    transition: background-color .5s ease, color .5s ease;
}

.artworkDirectButton:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

@media screen and (max-width: 1000px) {
    .artworkPageBody {
        min-height: 110vh;
    }
}