.contactBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
    font-weight: 700;
    position: fixed; 
    top: 0; 
    left: 0; 
    background: rgb(255,134,244);
    background: linear-gradient(180deg, rgba(255,134,244,1) 0%, rgba(230,255,136,1) 100%);
      
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

.contactWrapper {
    font-size: 1.5rem;
}  