.homeSection {
    color: white;
    font-size: 2rem;
    width:100%;
    height: 100vh;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.65);
}

.homeWrapper {
    display: flex;
    flex-direction: column;
    float: right;
    padding-right: 2.5rem;
    padding-top: 1rem;
}

.homeTitle {
    margin-bottom: 5rem;
}

.homeTitle:hover {
    text-decoration: underline;
    cursor: pointer;
}

.homePaths {
    padding-bottom: 1rem;
}

.homePaths:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .homeSection {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .homeWrapper {
        margin: 0;
        padding: 0;
    }
}