.homeSection {
    color: white;
    font-size: 2rem;
    width:100%;
    height: 100vh;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.5);
}

.homeWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.homeTitle {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    transition: color .5s ease;
    text-align: center;
}

.homePaths {
    position: absolute;
    bottom: 4rem;
    border: .2rem solid rgba(255, 255, 255, 0.5);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .4rem;
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.5);
    transition: color .5s ease, border .5s ease;
}

.homePaths:hover + .homeTitle {
    color: rgba(255, 255, 255, 1);
}

.homePaths:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    border: .2rem solid rgba(255, 255, 255, 1);
}