.navBarContainer {
    width: 100%;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1rem;
    text-align: center;
    color: #1A2744;
    margin-top: .25rem;
}

.navBarContainer a {
    float: left;
    padding: 1.5rem 1rem;
    text-decoration: none;
    color: white;
    display: flex;
}

.navBarContainer a:hover {
    cursor: pointer;
}

.navBarLeft {
    margin-left: 5rem;
    width: 100%;
}

.navBarRight {
    float: right;
    color: #1A2744;
    margin-right: 5rem;
}

.navBarRight a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.navButton {
    position: absolute;
    display: none;
    right: 0;
    top: 0;
    padding: 1rem;
    color: black;
    font-size: 5rem;
    width: 100%;
    height: 8vw;
    background-color: white;
}

.actualButton {
    color: white;
    margin: 0;
    margin-right: .5rem;
    padding: 0;
    position: absolute;
    right: 1vw;
    top: .3rem;
}

.actualButton:hover {
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .navBarContainer {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin-top: 0;
    }

    .homeButton {
        margin-top: 5rem;
        background-color: black;
    }

    .navBarLeft {
        background-color: black;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

    .navBarRight {
        display: flex;
        flex-direction: column;
        background-color: black;
        margin: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .navButton {
        display: block;
        background-color: transparent;
        z-index: 50;
    }

    .navButton.close {
        background-color: black
    }
}