.portfolioContainer {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.portfolioWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: rgb(0, 0, 0, .1);
    overflow: hidden;
}

.portfolioBody {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 25vw;
    border: 3px solid white;
    margin: 2rem;
    background: rgb(0, 0, 0, .1);
    border-radius: 15px;
}

.titleContainer {
    opacity: 1;
    font-weight: bold;
    font-size: 2rem;
    transition: opacity .5s ease-out;
    z-index: 1;
}

.imagesContainer {
    position: absolute;
    width: 25vw;
    height: 25vw;
    display: flex;
}

.imageElement {
    width: 25vw;
    height: 25vw;
    object-fit: cover;
    border-radius: 15px;
}

.imageFilterContainer {
    width: 25vw;
    height: 25vw;
    background: rgb(0, 0, 0, .5);
    position: absolute;
    transition: background 1s ease;
    border-radius: 15px;
}

.sectionContainer:hover {
    cursor: pointer;
}

.sectionContainer:hover .imageFilterContainer{
    background: transparent;
    cursor: pointer;
}

.sectionContainer:hover .titleContainer {
    opacity: 0;
}

@media screen and (max-width: 1000px) {
    .portfolioBody {
        flex-direction: column;
    }

    .portfolioContainer {
        height: 70rem;
    }

    .portfolioWrapper {
        height: 70rem;
    }

    .titleContainer {
        font-size: 1.25rem;
    }

    .sectionContainer {
        width: 15rem;
        height: 15rem;
        margin: 1rem;
        background: rgb(0, 0, 0, .1);
        border-radius: 15px;
    }
    
    .imagesContainer {
        width: 15rem;
        height: 15rem;
    }
    
    .imageElement {
        width: 15rem;
        height: 15rem;
    }
    
    .imageFilterContainer {
        width: 15rem;
        height: 15rem;
    }
}