.galleryWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem .55rem;
    align-items: center;
    justify-content: center;
    max-width: 100rem;
    margin-top: 5rem;
  }

  .galleryWrap .single {
    width: 15rem;
    cursor: pointer;
    user-select: none;
  }
  
  .galleryWrap .single img {
    border-radius: 10px;
    max-width: 100%;
  }
  
  .galleryWrap .single img:hover {
    transition: transform .3s;
    transform: scale(1.04);
  }
  
  .sliderWrap {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  
  .sliderWrap .btnClose, .sliderWrap .btnPrev, .sliderWrap .btnNext {
    position: fixed;
    cursor: pointer;
    opacity: 0.6;
    color: #fff;
    z-index: 9999;
  }
  
  .btnNext:hover, .btnPrev:hover, .btnClose:hover {
    opacity: 1;
    transition: all .5s ease;
  }
  
  .sliderWrap .btnClose {
    top: 40px;
    right: 40px;
  }
  
  .sliderWrap .btnPrev {
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
  }
  
  .sliderWrap .btnNext {
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
  }
  
  .fullScreenImage {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  
  .fullScreenImage img {
    max-width: 100%;
    max-height: 100%;
  }

@media screen and (max-width: 500px) {
  .galleryWrap .single {
    width: 8rem;
    cursor: pointer;
    user-select: none;
  }
}